.o-apptology-floor-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.o-apptology-neworder-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  font-weight: 600;
}
